.input-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}

.register__input-container:not(:first-child) {
  margin-top: 6px;
}

.input-block__label {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.21;
}

.input-block__input {
  margin-top: 5px;
  padding: 0 0 10px 0;

  width: 100%;

  background-color: unset;
  border: unset;

  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  border-bottom: 1px solid #424242;
  outline: unset;

  transition: border-color 0.3s ease-in-out;
}

.input-block__input:focus {
  border-color: #4285f4;
}

.input-block__input_invalid {
  color: #ee3465;
}

.input-block__label_error {
  height: 18px;
  opacity: 0;
}

.input-block__label_error_validation {
  margin-top: 6px;
  height: unset;

  opacity: 1;
  color: #ee3465;
}
